
AspNetCore_Project/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.CoreCompileInputs.cache
AspNetCore_Project/EntityLayer/obj/Debug/net7.0/EntityLayer.dll
AspNetCore_Project/EntityLayer/obj/Debug/net7.0/EntityLayer.pdb
AspNetCore_Project/EntityLayer/obj/Debug/net7.0/ref/EntityLayer.dll
AspNetCore_Project/EntityLayer/obj/Debug/net7.0/refint/EntityLayer.dll
*.cache
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/AspNetCore_Project.dll
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/AspNetCore_Project.pdb
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/AspNetCore_Project.staticwebassets.runtime.json
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/BusinessLayer.dll
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/BusinessLayer.pdb
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/DataAccessLayer.dll
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/DataAccessLayer.pdb
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/EntityLayer.dll
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/EntityLayer.pdb
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/AspNetCore_Project.csproj.AssemblyReference.cache
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/AspNetCore_Project.csproj.CoreCompileInputs.cache
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/AspNetCore_Project.dll
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/AspNetCore_Project.GeneratedMSBuildEditorConfig.editorconfig
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/AspNetCore_Project.pdb
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/ref/AspNetCore_Project.dll
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/refint/AspNetCore_Project.dll
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/staticwebassets.build.json
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/staticwebassets.development.json
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/staticwebassets.pack.json
AspNetCore_Project/AspNetCore_Project/obj/Debug/net7.0/staticwebassets/msbuild.AspNetCore_Project.Microsoft.AspNetCore.StaticWebAssets.props
*.icloud
*.dll
*.dll
*.pdb
*.dll
*.json
*.pdb
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/DataAccessLayer.pdb
AspNetCore_Project/AspNetCore_Project/bin/Debug/net7.0/BusinessLayer.dll
*.dll
*.pdb
*.dll
*.pdb
*.json
*.pdb
*.dll
*.cache
*.info
