@using EntityLayer.Concrete
@model List<Service>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a href="/Service/AddService" class="btn btn-success float-right">New Service</a>
            <h4 class="card-title">Service</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ServiceId</td>
                            <td>@item.Title</td>
                            <td>
                                <a href="/Service/DeleteService/@item.ServiceId" class="btn btn-outline-danger">Delete</a>
                            </td>
                            <td>
                                <a href="/Service/UpdateService/@item.ServiceId" class="btn btn-outline-success">Update</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

