@model EntityLayer.Concrete.Service

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-4">Service Update Page</h3>
</div>

@using(Html.BeginForm("UpdateService","Service",FormMethod.Post))
{
    @Html.HiddenFor(x => x.ServiceId)
    <label>Service Title</label>
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control mt-2"})
    <label class="mt-3">Image URL</label>
    @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control mt-2"})
    <button class="btn btn-outline-success mt-3">Update</button>
}
