@model EntityLayer.Concrete.Experience

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-4">Experience Add Page</h3>
</div>

@using(Html.BeginForm("AddExperience","Experience",FormMethod.Post))
{
    <label>Experience Title</label>
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control mt-2"})
    <label class="mt-3">Date</label>
    @Html.TextBoxFor(x=>x.Date, new {@class="form-control mt-2"})
    <label class="mt-3">Image URL</label>
    @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control mt-2"})
    <label class="mt-3">Date</label>
    @Html.TextAreaFor(x=>x.Description, 10, 3, new {@class="form-control mt-2"})
    <button class="btn btn-info mt-3">Save</button>
}
