@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
            <a href="/Experience/AddExperience" class="btn btn-success float-right">Add New Experience</a>
    <h3 class="mb-4">Experience List</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="sort" data-sort="name">#</th>
            <th scope="col" class="sort" data-sort="budget">Title</th>
            <th scope="col" class="sort" data-sort="status">Date</th>
            <th scope="col">Delete</th>
            <th scope="col" class="sort" data-sort="completion">Update</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="list">
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @item.ExperienceId
                </th>
                <td class="budget">
                    @item.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                        <a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
