@model EntityLayer.Concrete.Skill

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Skill</h4>
            <form class="form-sample" method="post">
                <br/><br/><br/>
                <label>Skill Title</label>
                <input type="text" name="Title" class="form-control mt-2"/>
                <label class="mt-3">Ratio</label>
                <input type="text" name="Value" class="form-control mt-2"/>
                <button class="btn btn-primary mt-3">Save</button>
            </form>
        </div>
    </div>
</div>