@model EntityLayer.Concrete.Announcement

@{
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Announcement Details</h1>
<div>
    <input class="mt-2" type="text" name="ID"/>
    <input type="text" name="Name"/>
</div>